#canvas1 {
    display: block;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

#health::-moz-progress-bar { background-color: rgb(206, 2, 2); }
#health::-webkit-progress-value { background-color: rgb(206, 2, 2); }
#health { background-color: rgb(206, 2, 2); }

#ki::-moz-progress-bar { background-color: rgb(18, 98, 218); }
#ki::-webkit-progress-value { background-color: rgb(18, 98, 218); }
#ki { background-color: rgb(18, 98, 218); }

#exp::-moz-progress-bar { background-color: rgb(77, 255, 252); }
#exp::-webkit-progress-value { background-color: rgb(77, 255, 252); }
#exp { background-color: rgb(77, 255, 252); }